// Bootstrap - only import what you need
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components you use
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";

// Helpers & utilities
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

// Your custom styles
@import "./_variables.scss";
@import "./type.scss";

.cls-2 {
  opacity: 0.25;
}
img {
  max-width: 100%;
  width: 100%;
}
.grey-bg {
  background-color: #f8f8f8;
  // top: 2.5em;
  position: relative;
  // margin-bottom: 2.5em;
}

 // slide-fade
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }

  .slide-fade-leave-active {
    transition: all 0.3s ease;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(-6px);
    opacity: 0;
  }

  .slide-fade-enter-to,
  .slide-fade-leave-from {
    transform: translateY(0);
    opacity: 1;
  }