// Import Bootstrap Sass
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/mixins";
// Your custom styles
@import "./_variables.scss";
@import "./type.scss";

.cls-2 {
  opacity: 0.25;
}
img {
  max-width: 100%;
  width: 100%;
}
.grey-bg {
  background-color: #f8f8f8;
  // top: 2.5em;
  position: relative;
  // margin-bottom: 2.5em;
}

 // slide-fade
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }

  .slide-fade-leave-active {
    transition: all 0.3s ease;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(-6px);
    opacity: 0;
  }

  .slide-fade-enter-to,
  .slide-fade-leave-from {
    transform: translateY(0);
    opacity: 1;
  }