// ----------------------------- //
// TYPOGRAPHY
// ----------------------------- //

// Font families
$font-heading: 'Cantata One', serif;
$font-body: 'Nunito Sans', sans-serif;

// Base styles
body {
  font-family: $font-body;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-dark;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}
// Headings
h1 {
  font-family: $font-heading;
  font-weight: 500;
  color: $blue-light;
  font-size: 2.5rem;

  @include desktop {
    font-size: 3.3rem;
  }
}

h2 {
  font-family: $font-heading;
  color: $blue-light;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include desktop {
    font-size: 2.2rem;
  }
}

h3 {
  font-family: $font-body;
  font-weight: 600;
  color: $gray-dark;
  font-size: 1.5rem; // 24px mobile

  @include desktop {
    font-size: 1.7rem; // 27px
  }
}

h4 {
  font-family: $font-body;
  font-weight: 400;
  color: $blue-light;
  font-size: 1.5rem;
}

h5 {
  font-family: $font-body;
  font-weight: 600;
  color: $gray-dark;
  font-size: 1.25rem; // 20px mobile

  @include desktop {
    font-size: 1.9375rem; // 31px
  }
}

h6 {
  font-family: $font-body;
  font-weight: 600;
  color: $gray-dark;
  font-size: 1rem;
}

// Article headings (different style)
article h1 {
  font-family: $font-body;
  font-weight: 700;
  color: $gray-dark;
  font-size: 1.75rem; // 28px
}

// Paragraphs
p, ul, ol {
  font-family: $font-body;
  font-weight: 400;
  color: $gray-dark;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

// Lead text (subheadlines)
.lead {
  font-family: $font-body;
  font-weight: 400;
  color: $gray-dark;
  font-size: 1.5rem;
}

// Links
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Form elements & misc
input,
select,
textarea,
button,
label {
  font-family: $font-body;
  font-size: 1rem;
}

// Small text utility
small,
.small {
  font-size: 0.875rem; // 14px
}
