@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
/* line 19, ../sass/form.sass */
.ll {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 16px;
}
/* line 25, ../sass/form.sass */
.ll select, .ll input[type="text"], .ll input[type="tel"], .ll input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300 !important;
}

/* line 35, ../sass/form.sass */
.ll {
  background: #F8BA57;
  padding: 15px;
  text-align: center;
}
/* line 39, ../sass/form.sass */
.ll .btn {
  margin: 10px;
  box-sizing: border-box;
}
/* line 42, ../sass/form.sass */
.ll h2 {
  color: #002642;
  margin: 10px 0 20px;
}
/* line 45, ../sass/form.sass */
.ll .control-label {
  display: none;
}
/* line 47, ../sass/form.sass */
.ll label {
  font-weight: 300;
  text-align: left;
}
/* line 50, ../sass/form.sass */
.ll .tcpa {
  margin-bottom: 20px;
}
/* line 52, ../sass/form.sass */
.ll .disclaimer {
  font-size: 12px;
  line-height: 1.2em;
}
/* line 55, ../sass/form.sass */
.ll .cta-wrapper {
  margin: 30px 20px;
  padding: 10px;
  background: none;
  border-radius: 5px;
  border: 1px solid #0061a8;
}
/* line 61, ../sass/form.sass */
.ll .cta-wrapper p {
  margin: 0;
  text-shadow: none;
}
/* line 64, ../sass/form.sass */
.ll .cta-wrapper a {
  color: #0061a8;
}
/* line 66, ../sass/form.sass */
.ll .cta-wrapper a:hover {
  text-decoration: none;
  color: #004475;
}
/* line 69, ../sass/form.sass */
.ll .cta-wrapper .phone {
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 768px) {
  /* line 76, ../sass/form.sass */
  .ll {
    background: white;
    margin-top: 30px;
  }
}
/* line 21, ../sass/common.sass */
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 26, ../sass/common.sass */
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 16px;
}

/* line 32, ../sass/common.sass */
p, ul, li {
  color: #666;
  line-height: 1.6em;
  font-weight: 300;
}

/* line 37, ../sass/common.sass */
img {
  max-width: 100%;
}

/* line 40, ../sass/common.sass */
li {
  line-height: 1.5em;
}

/* line 43, ../sass/common.sass */
a {
  color: #0061a8;
  cursor: pointer;
}
/* line 46, ../sass/common.sass */
a:hover {
  color: #004475;
  text-decoration: none;
}

/* line 50, ../sass/common.sass */
h1, h2 {
  font-weight: 300;
  color: #666;
  margin-bottom: 10px;
}

/* line 55, ../sass/common.sass */
h1 {
  font-size: 36px;
}

/* line 58, ../sass/common.sass */
h2 {
  font-size: 28px;
}

/* line 61, ../sass/common.sass */
h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 65, ../sass/common.sass */
h4 {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

/* line 70, ../sass/common.sass */
.left {
  float: left;
}

/* line 73, ../sass/common.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* line 78, ../sass/common.sass */
.row-inset {
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}

/* line 84, ../sass/common.sass */
.content > div {
  margin-bottom: 40px;
  clear: both;
}
/* line 87, ../sass/common.sass */
.content > div:after {
  content: "";
  clear: both;
  display: block;
}

/* line 92, ../sass/common.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 98, ../sass/common.sass */
.header {
  background: white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 106, ../sass/common.sass */
.header .header-brand a {
  background-image: url("../images/adt-authorized-provider.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 205px;
  height: 85px;
  text-indent: -9999px;
  margin-right: 10px;
  background-size: contain;
}

/* line 119, ../sass/common.sass */
.form-banner {
  position: relative;
}

/* line 122, ../sass/common.sass */
.navy-blue-bg {
  background: #002642;
  text-align: center;
  padding-bottom: 20px;
}
/* line 126, ../sass/common.sass */
.navy-blue-bg p {
  color: white;
}
/* line 128, ../sass/common.sass */
.navy-blue-bg h2 {
  color: white;
  font-size: 21px;
  margin-bottom: 15px;
}
/* line 132, ../sass/common.sass */
.navy-blue-bg h2 span {
  font-size: 18px;
}

/* line 135, ../sass/common.sass */
.orange-banner {
  background: #fabb58;
  background: -moz-linear-gradient(top, #fabb58 0%, #ec4825 100%);
  background: -webkit-linear-gradient(top, #fabb58 0%, #ec4825 100%);
  background: linear-gradient(to bottom, #fabb58 0%, #ec4825 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabb58',endColorstr='#ec4825',GradientType=0);
  margin-left: -30px;
  margin-right: -30px;
  position: relative;
  padding: 15px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 147, ../sass/common.sass */
.orange-banner:before, .orange-banner:after {
  width: 0;
  height: 0;
  border-top: 15px solid #c44222;
  content: "";
  position: absolute;
  bottom: -15px;
}
/* line 154, ../sass/common.sass */
.orange-banner:before {
  border-left: 15px solid transparent;
  float: left;
  left: 0;
}
/* line 158, ../sass/common.sass */
.orange-banner:after {
  border-right: 15px solid transparent;
  float: right;
  right: 0;
}
/* line 162, ../sass/common.sass */
.orange-banner h3 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 166, ../sass/common.sass */
.orange-banner .price {
  font-weight: 600;
  font-size: 80px;
}
/* line 169, ../sass/common.sass */
.orange-banner .price sup {
  font-size: 32px;
  position: relative;
  top: -32px;
  margin: 0 2px;
}
/* line 174, ../sass/common.sass */
.orange-banner .price .month {
  font-size: 24px;
  margin-left: -75px;
}

/* line 178, ../sass/common.sass */
.products-section {
  margin-bottom: 20px;
}

/* line 181, ../sass/common.sass */
.product-box {
  width: 100%;
  background: #0061a8;
  padding: 10px 15px;
  border: none;
  color: white;
  font-weight: 300;
}

/* line 188, ../sass/common.sass */
.plus-sign {
  position: relative;
  margin: -6px auto -2px auto;
  color: #343434;
  background: white;
  border: 1px solid #002642;
  padding: 2px;
  width: 28px;
  height: 28px;
  font-size: 14pt;
  border-radius: 14px;
}

/* line 200, ../sass/common.sass */
.disclaimer {
  font-size: 12px;
  line-height: 1.2em;
}

/* line 204, ../sass/common.sass */
.cta-wrapper {
  margin: 5px 20px;
  padding: 10px;
  background: #fabb58;
  background: -moz-linear-gradient(top, #fabb58 0%, #ec4825 100%);
  background: -webkit-linear-gradient(top, #fabb58 0%, #ec4825 100%);
  background: linear-gradient(to bottom, #fabb58 0%, #ec4825 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabb58',endColorstr='#ec4825',GradientType=0);
  border-radius: 5px;
}
/* line 213, ../sass/common.sass */
.cta-wrapper p {
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 216, ../sass/common.sass */
.cta-wrapper a {
  color: white;
}
/* line 218, ../sass/common.sass */
.cta-wrapper .phone {
  font-size: 28px;
  font-weight: 600;
}

/* line 222, ../sass/common.sass */
.bbb {
  display: block;
  margin: 40px auto;
  width: 200px;
}

/* line 227, ../sass/common.sass */
.feature-list {
  padding-left: 15px;
  list-style: none;
}
/* line 230, ../sass/common.sass */
.feature-list .fa-check {
  color: #F8BA57;
}

/* line 233, ../sass/common.sass */
.home-alarm-marketing-section {
  padding: 50px 30px 20px;
}
/* line 235, ../sass/common.sass */
.home-alarm-marketing-section img {
  display: block;
  margin: auto;
}
/* line 238, ../sass/common.sass */
.home-alarm-marketing-section h2, .home-alarm-marketing-section p, .home-alarm-marketing-section li {
  color: white;
}

/* line 241, ../sass/common.sass */
.testimonial-block {
  background-color: rgba(0, 38, 66, 0.2);
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  border-top: 1px solid #0061a8;
  border-bottom: 1px solid #0061a8;
}

/* line 248, ../sass/common.sass */
.testimonial {
  color: white;
  font-weight: 300;
  font-style: italic;
}

/* line 252, ../sass/common.sass */
.testimonial-name {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 257, ../sass/common.sass */
.benefit {
  padding-left: 65px;
  text-align: left;
}
/* line 260, ../sass/common.sass */
.benefit h4 {
  margin-top: 5px;
}

/* line 264, ../sass/common.sass */
.stars .fa-star {
  color: #F8BA57;
}

/* line 267, ../sass/common.sass */
.protect {
  padding: 80px 30px;
}
/* line 269, ../sass/common.sass */
.protect h2 {
  font-weight: 600;
  font-size: 48px;
  color: #0061a8;
}
/* line 273, ../sass/common.sass */
.protect .img-container {
  height: 120px;
  text-align: center;
  margin-top: 30px;
}
/* line 277, ../sass/common.sass */
.protect .description {
  padding-left: 40px;
  position: relative;
}
/* line 280, ../sass/common.sass */
.protect .description .number {
  font-size: 40px;
  font-weight: 600;
  color: #0061a8;
  position: absolute;
  top: -8px;
  left: 0;
}

/* line 288, ../sass/common.sass */
.btn, .btn-primary {
  font-weight: 300;
  color: white;
  font-size: 18px;
  padding: 12px 30px !important;
  background: #0061a8 !important;
  border: none !important;
  border-radius: 5px;
  white-space: normal;
  margin-bottom: 10px;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}
/* line 300, ../sass/common.sass */
.btn:hover, .btn-primary:hover {
  color: white;
  background: #004475 !important;
  top: 1px;
  position: relative;
}

/* line 305, ../sass/common.sass */
.btn-sm {
  padding: 8px 20px !important;
  font-size: 16px;
  border-radius: 2px;
}

/* line 310, ../sass/common.sass */
.footer {
  clear: both;
  background: #333333;
  overflow: auto;
  padding: 30px 60px;
  text-align: center;
}
/* line 316, ../sass/common.sass */
.footer .footer-logo {
  width: 200px;
}
/* line 318, ../sass/common.sass */
.footer p {
  color: #999;
  text-align: center;
}
/* line 321, ../sass/common.sass */
.footer a {
  color: white;
}

/* line 326, ../sass/common.sass */
#home .form-banner {
  margin-top: 115px;
  background: #004475;
  background: -moz-linear-gradient(top, #004475 0%, #002642 100%);
  background: -webkit-linear-gradient(top, #004475 0%, #002642 100%);
  background: linear-gradient(to bottom, #004475 0%, #002642 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e4e81',endColorstr='#192a3c',GradientType=0);
}
/* line 333, ../sass/common.sass */
#home .form-banner .form-container {
  padding: 30px;
  text-align: center;
}
/* line 336, ../sass/common.sass */
#home .form-banner .form-container .btn {
  display: block;
  margin: 20px;
}

/* line 341, ../sass/common.sass */
#home .intro, #home .product, #home .next, #thanks .intro, #thanks .product, #thanks .next {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 345, ../sass/common.sass */
#home .intro h2, #home .product h2, #home .next h2, #thanks .intro h2, #thanks .product h2, #thanks .next h2 {
  margin-bottom: 30px;
}
/* line 347, ../sass/common.sass */
#home .intro img, #home .product img, #home .next img, #thanks .intro img, #thanks .product img, #thanks .next img {
  margin-bottom: 15px;
}
/* line 350, ../sass/common.sass */
#home .testimonial-banner, #thanks .testimonial-banner {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 354, ../sass/common.sass */
#home .bg-blue, #thanks .bg-blue {
  background: #0061a8;
}
/* line 356, ../sass/common.sass */
#home .bg-blue h2, #home .bg-blue p, #thanks .bg-blue h2, #thanks .bg-blue p {
  color: white;
}

/* line 361, ../sass/common.sass */
#thanks .form-banner {
  margin-top: 115px;
  background: url("../images/adt-hero.jpg") no-repeat;
  background-size: cover;
  min-height: 600px;
  padding: 200px 30px 30px;
}
/* line 367, ../sass/common.sass */
#thanks .form-banner h1 {
  color: #0061a8;
  font-size: 60px;
  font-weight: 600;
}
/* line 371, ../sass/common.sass */
#thanks .form-banner p {
  font-size: 21px;
}
/* line 373, ../sass/common.sass */
#thanks .what-to-expect {
  text-align: left;
}
/* line 375, ../sass/common.sass */
#thanks .what-to-expect p, #thanks .what-to-expect li {
  color: white;
}
/* line 377, ../sass/common.sass */
#thanks .what-to-expect .number {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  /* line 384, ../sass/common.sass */
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 390, ../sass/common.sass */
  .body {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  /* line 398, ../sass/common.sass */
  .header {
    background: #002642;
    box-shadow: none;
  }
  /* line 401, ../sass/common.sass */
  .header .header-brand a {
    background-image: url("../images/adt-authorized-provider-white.png");
    width: 100%;
    margin: 0;
    height: 70px;
  }
  /* line 406, ../sass/common.sass */
  .header .cta-wrapper {
    margin: 0;
  }
  /* line 408, ../sass/common.sass */
  .header .cta-wrapper .phone {
    font-size: 18px;
  }

  /* line 410, ../sass/common.sass */
  .orange-banner {
    margin: 0;
    background: url("../images/stop-sign.png") no-repeat center center;
    background-size: 250px;
    height: 250px;
    padding: 70px 0;
  }
  /* line 416, ../sass/common.sass */
  .orange-banner:after, .orange-banner:before {
    display: none;
  }

  /* line 419, ../sass/common.sass */
  #home .form-banner {
    margin-top: 100px;
    background: #002642;
    padding: 0 0 30px;
    border-bottom: 5px solid #e15928;
  }
  /* line 424, ../sass/common.sass */
  #home .form-banner .form-container {
    padding: 10px;
    background-size: contain !important;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  /* line 431, ../sass/common.sass */
  #thanks .form-banner {
    margin-top: 100px;
    background: #edeef3;
    min-height: auto;
    padding: 40px 10px;
  }
  /* line 436, ../sass/common.sass */
  #thanks .form-banner h1 {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  /* line 444, ../sass/common.sass */
  #home .intro, #home .product, #home .matched, #home .next, #thanks .intro, #thanks .product, #thanks .matched, #thanks .next {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  /* line 448, ../sass/common.sass */
  #home .intro img, #thanks .intro img {
    margin-top: 30px;
  }
  /* line 450, ../sass/common.sass */
  #home .matched .phone-match, #thanks .matched .phone-match {
    margin: 30px 0 -50px;
  }

  /* line 452, ../sass/common.sass */
  .footer {
    padding: 40px 15px;
  }

  /* line 454, ../sass/common.sass */
  h1 {
    font-size: 28px;
  }
}
