@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
/* line 19, ../sass/form-gray.sass */
.ll {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 16px;
}
/* line 25, ../sass/form-gray.sass */
.ll select, .ll input[type="text"], .ll input[type="tel"], .ll input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300 !important;
}

/* line 35, ../sass/form-gray.sass */
.ll {
  background: rgba(133, 143, 151, 0.84);
  padding: 15px 30px;
  text-align: center;
}
/* line 39, ../sass/form-gray.sass */
.ll h2 {
  color: white;
  margin: 10px 0 20px;
}
/* line 43, ../sass/form-gray.sass */
.ll .formio-component-textfield .control-label {
  display: none;
}
/* line 45, ../sass/form-gray.sass */
.ll .formio-component-radio {
  text-align: center;
}
/* line 47, ../sass/form-gray.sass */
.ll .formio-component-radio .input-group {
  margin: auto;
}
/* line 49, ../sass/form-gray.sass */
.ll .formio-component-radio .radio {
  display: inline-block;
  margin: 0 5px;
}
/* line 52, ../sass/form-gray.sass */
.ll label {
  font-weight: 300;
  text-align: left;
}
/* line 55, ../sass/form-gray.sass */
.ll .btn {
  background: #e15928 !important;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 20px;
  font-weight: 600 !important;
  font-size: 24px;
  border: 1px solid #bfc0c2 !important;
}
/* line 63, ../sass/form-gray.sass */
.ll .btn:hover {
  background: #bc451a !important;
}
/* line 65, ../sass/form-gray.sass */
.ll .tcpa {
  margin-bottom: 20px;
}
/* line 67, ../sass/form-gray.sass */
.ll .disclaimer {
  font-size: 12px;
  color: white;
  line-height: 1.2em;
}
/* line 71, ../sass/form-gray.sass */
.ll .disclaimer a {
  color: rgba(255, 255, 255, 0.6);
}
/* line 73, ../sass/form-gray.sass */
.ll .disclaimer a:hover {
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  /* line 79, ../sass/form-gray.sass */
  .ll {
    margin-top: 15px;
  }
}
